body {
    background-color: rgba(40, 255, 201, 0.11);
    /* padding: 20px; */
    color: blue;
    font-size: 15px;
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

h1 {
    color: red;
}
h2{
    color: darkblue;
    margin-bottom: 0px;
}

.div1 {
    text-align: center;
}

hr {
    border-top: 2px solid goldenrod;
    width: 98%;
    margin-right: 100px;
}

.resume {
    max-width: 700px;
    margin: 0px auto;
    padding: 50px;
    padding-left: 70px;
    padding-right: 50px;
    background: #fff;
    box-shadow: 0 0 10px goldenrod;
    background-image: url('f1.jpg');
    background-repeat: repeat-y;
    background-size: contain;
  
}
.container {
    text-align: left;
    margin-left: 20px;
}
/* .signature {
    text-align: right;
    margin-right: 100px;
} */

